@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
}

body {
    background-image: url(/assets/imagens/Rectangle-Rust-283x300.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-center {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #e61010;
    border-radius: 5px;
}
        
    .content-center {
        width: 100%;
        max-width: 300px;
        margin: auto;
        padding: 20px;
        background-color: #e61010;
        border-radius: 15px;
    }

    .content-center img {
        width: 70%;
    }

    .content-center form {
        margin: 20px;
    }

    .content-center input,
    .content-center button {
        width: 100%;
        padding: 10px 5px;
        border: none;
        outline: none;
    }

    .content-center input {
        border-bottom-color: #ccc;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 10px;
    }

    .content-center input:focus {
        border-bottom-color: rgb(236, 81, 9);
    }

    .content-center button {
        background-color: rgb(14, 10, 9);
        color: #ccc;
    }

    .content-center button:hover {
        background-color: darkred;
        cursor: pointer;
    }

    .content-center button:active {
        background-color: darkorchid;
    }

    header a {
        text-decoration: none;
        color: #666;
    }

    header a:visited {
        color: black;
    }

    header a:focus {
        color: red;
    }

    header a:active {
        color: yellow;
    }

    header h1 {
        font-size: 2.5em;
        text-align: center;
        margin: 50px auto;
    }

    footer p {
        margin-top: 1em;
        font-size: .8em;
        text-align: center;
    }

    #text-center {
        text-align: center;
    }

    
    .content-center img {
        width: 70%;
    }

    .content-center form {
        margin: 20px;
    }

    .content-center input,
    .content-center button {
        width: 100%;
        padding: 10px 5px;
        border: none;
        outline: none;
    }

    .content-center input {
        border-bottom-color: #ccc;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 10px;
    }

    .content-center input:focus {
        border-bottom-color: rgb(236, 81, 9);
    }

    .content-center button {
        background-color: rgb(14, 10, 9);
        color: #ccc;
    }

    .content-center button:hover {
        background-color: darkred;
        cursor: pointer;
    }

    .content-center button:active {
        background-color: darkorchid;
    }

    header a {
        text-decoration: none;
        color: #666;
    }

    header a:visited {
        color: black;
    }

    header a:focus {
        color: red;
    }

    header a:active {
        color: yellow;
    }

    header h1 {
        font-size: 2.5em;
        text-align: center;
        margin: 50px auto;
    }

    footer p {
        margin-top: 1em;
        font-size: .8em;
        text-align: center;
    }

    #text-center {
        text-align: center;
    }